# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=

# Riot API
RIOT_API_KEY=
RIOT_TXT_CONTENT=

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/lulubot

# Redis
REDIS_URL=redis://localhost:6379

# Express
PORT=3000
EXPRESS_SECRET=

# Environment
NODE_ENV=development
